.modal_wrap {
    .modal-content {
        background-color: #1a1e23;
        padding: 0px 10px;
        .modal-header {
            border-bottom: 0px;

            .btn-close {
                filter: invert(1);
            }

            .modal-title {
                color: #fff;
            }
        }

        .modal-footer {
            border-top: 0px;
            button{
                background-color: #205A7E;
                display: block;
                border-color: #205A7E;
                width: 100%;
                padding: 15px;
            } 
        }

        .modal-body {
            color: #fff;

            .withdraw_body_title {
                h6 {
                    color: #a0aec0;
                    font-size: 14px;
                    font-weight: 400;
                    margin-top: 0;
                    margin-bottom: 4px;
                }

                .withdraw_amount {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h3 {
                        font-size: 18px;
                        font-weight: 600;
                        color: #fff;
                    }

                    h4 {
                        color: #718096;
                        font-size: 18px;
                    }
                }
            }

            .withdrawal_status_wrap {
                padding: 30px 0px 0px;
                .withdrawal_status {
                    margin-bottom: 50px;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    svg{
                        font-size: 20px;
                        margin-right: 10px;
                    }
                    &::after{
                        position: absolute;
                        content: "";
                        border: 1px dashed #fff;
                        left: 8px;
                        top: 27px;
                        width: 0px;
                        height: 30px;
                    }
                    &:last-child::after{
                        display: none;
                    }
                    &:last-child{
                        margin: 0px;
                    }
                    h3 {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
            .checkbox_wrap{
                margin-top: 25px;
                .form-check{
                    margin-bottom: 15px;
                    &:last-child{
                        margin: 0px;
                    }
                }
            }
        }
    }
}
.popup_open_btn {
    background-color: #205A7E !important;
    color: #fff !important;
    font-size: 14px !important;
    font-weight: 500;
    width: 100% !important;
    padding: 15px !important;
    border-color: #205A7E !important;

    svg {
        font-size: 20px;
        margin-right: 5px;
    }

    &:hover {
        opacity: 0.9;
    }

    &:focus {
        border-color: #205A7E;
        opacity: 0.9;
        background-color: #205A7E;
        color: #fff;
    }
}