:root {
    --primary-color: #EDE4C5;
    --secondary-color: #111827;
    --button-color: #074870;
    --light-color: #fff;
    --dark-color: #000;
    --text-color: #94A3B8;
    --card-color: #002942;
}