.app_header {
    padding: 15px 0px;

    .app_logo {
        margin-right: 60px;

        img {
            width: 30px;
        }
    }

    .navbar-expand-lg {
        .navbar-nav {

            .nav-link,
            a {
                color: var(--light-color);
                font-weight: 500;
                font-size: 14px;
                text-decoration: none;
                padding: 10px;
            }
        }
    }

    .header_btn_wrap {
        .header_btn {
            img {
                margin-right: 8px;
                border-radius: 100px;
                height: 24px;
                width: 24px;
            }

            background-color: var(--primary-color);
            color: var(--dark-color);
            border-radius: 20px;
            font-weight: 500;
            font-size: 14px;
            padding: 10px 15px;

            span {
                vertical-align: middle;
            }
        }
    }

    button {
        &:focus {
            box-shadow: none;
        }
    }
}