.app_header {
    padding: 15px 0px;
    .app_logo {
        margin-right: 60px;

        img {
            width: 30px;
        }
    }

    .navbar-expand-lg {
        .navbar-nav {
            .nav-link, a {
                color: #fff;
                font-weight: 500;
                font-size: 14px;
                text-decoration: none;
                padding: 10px;
            }
        }
    }

    .header_btn_wrap {
        .header_btn {
            background-color: #EDE4C5;
            color: #000;
            border-radius: 20px;
            font-weight: 500;
            font-size: 14px;
            padding: 10px 15px;
        }
    }
    button{
        &:focus{
            box-shadow: none;
        }
    }
}